<section class="menu-dropdown modal-dialog configure-dashboard-layout">
    <header class="menu-dropdown-header">
        <div class="heading-container">
            <h3 class="modal-title">Change Dashboard Layout</h3>
        </div>
        <div class="close-button-container">
            <a class="icon close-button" ng-click="closeDialog()">
                <span class="button-item-text">Close</span>
            </a>
        </div>
    </header>
    <div class="menu-dropdown-body layout-instructions">
        <p class="menu-dropdown-info">
            The dashboard layout is based on a grid of twelve columns. You can choose a new layout by selecting 
            one of the grids below:
        </p>
        <div class="layout-links">
            <a class="dashboard-structure-selector selected-{{model.structure == key}}" 
               ng-repeat="(key, structure) in structures" 
               ng-click="changeStructure(key, structure)">
                <table ng-class="'rows-' + structure.rows.length">
                    <tr ng-repeat="row in structure.rows">
                        <td ng-repeat="column in row.columns" class="{{column.styleClass}}"></td>
                    </tr>
                </table>
            </a> 
        </div>
        <div class="menu-dropdown-info layout-description">
            <span>Selected layout:</span>
            <span class="important-info">{{model.structure}}</span>
        </div>
    </div>
</section>