<section class="menu-dropdown modal-dialog add-widget">
    <header class="menu-dropdown-header">
        <div class="menu-heading-container">
            <h3 class="modal-title">Modules to add to your hub page</h3>
        </div>
        <div class="close-button-container">
            <a class="icon close-button" ng-click="closeDialog()">
                <span class="button-item-text">Close</span>
            </a>
        </div>
    </header>
    <div class="menu-dropdown-body">
        <ul class="menu controls">
            <li class="menu-item clickable-dropdown-menu-row add-control control-container" 
                ng-repeat="(key, widget) in widgets"
                  ng-click="addWidget(key)">
                <!--TODO: Move ng-show logic to controller and rewrite-->
                <div class="visibility-wrapper" ng-show="
                        !(model.rows[0].columns[0].widgets[0].title == widget.title
                        || model.rows[0].columns[0].widgets[1].title == widget.title
                        || model.rows[0].columns[1].widgets[0].title == widget.title
                        || model.rows[0].columns[1].widgets[1].title == widget.title)
                        || widget.edit !== undefined">
                    <div class="control">
                        <a class="icon add-widget" href="">
                            <span class="button-item-text">Add</span>
                        </a>
                    </div>
                    <label class="control-label">
                        <span class="key">{{widget.title}}</span>
                        <span class="description">{{widget.description}}</span>
                    </label>
                </div>
            </li>
        </ul>
        <ul class="menu controls disabled-controls">
            <li class="menu-item disabled-control control-container" ng-repeat="(key, widget) in widgets">
                <!--TODO: Move ng-show logic to controller and rewrite-->
                <div class="visibility-wrapper" ng-show="
                  (model.rows[0].columns[0].widgets[0].title == widget.title
                    || model.rows[0].columns[0].widgets[1].title == widget.title
                    || model.rows[0].columns[1].widgets[0].title == widget.title
                    || model.rows[0].columns[1].widgets[1].title == widget.title)
                    && widget.edit == undefined">
                    <div class="control disabled-control">
                        <a class="icon add-widget disabled" href="">
                            <span class="button-item-text">Add</span>
                        </a>
                    </div>
                    <label class="control-label">
                        <span class="key">{{widget.title}}</span>
                        <span class="description">{{widget.description}}</span>
                        <span class="max-widgets-marker">(Max added)</span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</section>