<section class="menu-dropdown modal-dialog configure-widget">
    <div class="menu-dropdown-header">
        <div class="menu-heading-container">
            <h3 class="modal-title">{{widget.title}}</h3>
        </div>
        <div class="close-button-container">
            <a class="icon close-button" ng-click="closeDialog()">
                <span class="button-item-text">Close</span>
            </a>
        </div>
    </div>
    <div class="menu-dropdown-body">
        <h4 class="menu-dropdown-subheading">Module Title:</h4>
        <div class="widget-title-field">
              <input type="text" id="widgetTitle" ng-model="definition.title" placeholder="Enter title" required="">
        </div>
        <adf-widget-content model="definition" content="widget.edit" />
    </div>
</section>
